<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopcion a ciegas</title>
    <%- include ('header', {tituloweb: '¡Oh my dog! | Adopciones'}); %>
</head>
<body id="body">

<% if (session && session.usuario && session.loggedin) { %>
  <div class="container text-end">
    <a href="/publicacion" class="btn btn-primary">Publicar Adopción</a>
  </div>
<% } %>


  <div class="row" style="margin: 30px;">
    <strong><p style="font-size: 20px;"> </p></strong>
    <% if (!data.length==0) { %>
    <% data.forEach(adopcion => { %>
        
            <div class="card" style="width: 17rem;margin: 7px ; margin-bottom: 0;;">
            <div class="card-body">

              <!-- Boton Cambiar Estado -->
              <% if (session.usuario && session.usuario.id === adopcion.UserId) { %>
                <a id="adopto <%= adopcion.id %>" class="btn btn-primary mx-2 <% if (adopcion.se_adopto) { %> disabled <% } %>" 
                  onclick="cambiarEstado('adopto <%= adopcion.id %>', '<%= adopcion.id %>', '<%= adopcion.se_adopto ? true : false %>')">
                  <span id="texto-adopto <%= adopcion.id %>"><%= adopcion.se_adopto ? 'Adoptado' : 'Cambiar Estado' %></span>
                </a>
              <% } %>


              <h5 class="card-title d-flex justify-content-between align-items-center">
                <%= adopcion.nombre %> <span class="emoji">&#x1F43E;</span>

              </h5>
            <p class="card-text"> Edad : <%= adopcion.edad %> <%= adopcion.tipo_edad %></p>
            <p class="card-text">Raza: <%= adopcion.raza %></p>
            <p class="card-text">Color: <%= adopcion.color %></p>
            <p class="card-text">Sexo: <%= adopcion.sexo %></p>
            <p class="card-text">Origen: <%= adopcion.origen %></p>
            <p class="card-text">Vacunas: <%= adopcion.vacunas ? "Si" : "No"%> </p>
            <p class="card-text">Caracteristicas : <%= adopcion.caracteristicas %></p>
            <p class="card-text" id="parrafo-<%= adopcion.id %>">
              <%= adopcion.se_adopto ? "Adoptado" : " Por adoptar " %>
            </p>

            <% if (!session.usuario || (session.usuario && session.usuario.id !== adopcion.UserId)) { %>
              <% if (!adopcion.se_adopto) { %>
                <a href="/contactoAdoptante?idAdopcion=<%= adopcion.id %>" class="btn btn-primary">Contactar</a>
              <% } %>
            <% } %>

          </div>
            </div>
            <% }) %>
            <% } else { %>
              <p style="text-align: center;"> No hay publicaciones de adopción disponibles.</p>
          <% } %>

    </div>
 </div>

 <div class="text-center"><a class="small" href="/">Volver</a></div>

<script>
  async function cambiarEstado(elementId, adopcionId, seAdopto) {
    const url = '/adopcion/seAdopto';
    const nuevoEstado = !JSON.parse(seAdopto); // Cambia el estado actual al nuevo estado
    try {
      // Envía la solicitud AJAX al servidor para actualizar el estado en la base de datos
      const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify({ id: adopcionId, se_adopto: nuevoEstado }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
  
      if (response.ok) {
       const textoBoton = document.getElementById(`texto-${elementId}`);
      textoBoton.innerHTML = nuevoEstado ? 'Adoptado' : 'Cambiar Estado';

      const parrafo = document.getElementById(`parrafo-${adopcionId}`);
      parrafo.innerHTML = nuevoEstado ? 'Adoptado' : 'Por adoptar';

  // Deshabilitar el botón
      const boton = document.getElementById(elementId);
     if (boton) {
    boton.classList.add('disabled');
    boton.removeAttribute('onclick');
  }
}
      const data = await response.json();
  
    } catch (error) {
      console.error('Error al realizar la solicitud:', error);
    }
  }
  </script>


 <%- include ('sweet-alert') %>
</body>

</html>
