<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('header', {tituloweb: '¡Oh my dog! | Registrar visita'}); %>
</head>

<body id="body">
    <br>
    <div class="container h-100 mt-4" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-7">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-5 col-xl-6 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrar visita</p>
              
              <% if (usuario) { %>
              <div class="alert alert-info" role="alert">Se registra una visita a: <strong><%= usuario.name %></strong></div>
              <% } %>
            
                <form id="miForm" action="/registrarVisita/cliente/<%= usuario.id %>" method="POST">

        <div class="row mb-3">

          <div class="mb-3">
            <% if (mascotas.length > 0) { %>
              <select id="mascota" class="form-select" name="mascota" required="">
                <option value="" disabled selected>Mascota (*)</option>
                <% mascotas.forEach(function(mascota) { %>
                  <option value="<%= mascota.id %>">
                    <%= mascota.nombre %>
                  </option>
                <% }); %>
              </select>
            <% } else { %>
              <div class="alert alert-danger mb-3 text-center" role="alert">
                <p class="text-danger m-0">No tiene mascotas registradas.</p>
              </div>
            <% } %>
          </div>
          
          <div class="mb-3">
            <select class="form-select" name="practica" id="practica" required="">
                                                <option value="" disabled selected>Práctica (*)</option>
                                                <option value="Consulta general">Consulta general</option>
                                                <option value="Desparasitacion">Desparasitación</option>
                                                <option value="Urgencia">Urgencia</option>
                                                <option value="Castracion">Castración</option>
                                                <option value="Vacuna A">Vacuna A</option>
                                                <option value="Vacuna B">Vacuna B</option>
                                            </select>
          </div>

          <label for="color">Observaciones </label>
          <div class="mb-3">
          <textarea class="form-control form-control-user" name="observacion" id="observacion" 
           placeholder="Observacion General " rows="5" cols="30"></textarea></div>


          <label for="color">Monto (*)</label>
          <div class="mb-3">
            <input class="form-control form-control-user" 
                   name="monto" 
                   type="number" 
                   id="monto" 
                   placeholder="Monto que abono" 
                   min= "1"
                   required="">
          </div>
        
          <div class="mb-3">
            <% if (beneficios.length > 0) { %>
              <select id="monto_b" class="form-select" name="monto_b" required="">
                <option value="" disabled selected>Monto Beneficio (*)</option>
                <% beneficios.forEach(function(beneficio) { %>
                  <% if (!beneficio.usado) { %>
                    <option value="<%= beneficio.id %>">
                      <%= beneficio.monto_beneficio %>
                    </option>
                  <% } %>
                <% }); %>
              </select>
            <% } else { %>
              <div class="alert alert-danger mb-3 text-center" role="alert">
                <p class="text-danger m-0">No tiene cupones de beneficio.</p>
              </div>
            <% } %>
          </div>

          <div class="text-center mb-2" style="font-size: smaller;">Los campos con (*) son
            obligatorios</div>

        </div>
        <button class="btn btn-primary d-block btn-user w-100" name="registrar" type="submit">Registrar</button>

    </div>
    <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2 justify-content-center">
        <img src="/img/perriflor.png" width="300px">
    </div>

    <style>
        @media only screen and (max-width: 900px) {
          img {
            display: none;
          }
          div {
            display: block;
          }
        }
      </style>
</div>
<hr>
</form>

<div class="text-center"><a class="small" href="/table">Volver</a></div>
</div>
</div>
    </div>
</div>
</div>
</div>
<br><br>

<script>
 const form = document.getElementById('miForm');
 form.addEventListener('submit', (event) => {
   const mascota = document.getElementById('mascota').value;
   const practica = document.getElementById('practica').value;
   const monto = document.getElementById('monto').value;
   const monto_b = document.getElementById('monto_b').value;
 
   if (!mascota || !practica|| !monto || !monto_b) {
     event.preventDefault(); // Evita que se envíe el formulario
     const mensajeElemento = document.getElementById('mensaje');
     mensajeElemento.textContent = 'Por favor complete todos los campos solicitados.';
   }
 });
 
</script>

</body>
</div>
<%- include ('sweet-alert') %>
</body>

</html>