<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<%- include ('header', {tituloweb: '¡Oh my dog! | Formulario publicacion perdida ' }); %>

<body id="body">

    <div class="container h-50 mt-4">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-12 col-xl-10">
                <div class="card text-black mb-3" style="border-radius: 25px;">
                    <div class="card-body p-md-4">
                        <div class="row justify-content-center">
                            <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-3">Crear publicación de perro perdido <i class="bi bi-heartbreak"></i></p>
                            <div class="col-md-6"> <!-- Primera columna del formulario -->
                                <form method="POST" action="/crear_publicacion_perdida">
                                    <div class="row mb-3 h-100">
                                        <div class="mb-3">
                                            <label for="zona">¿La mascota había sido registrada en la veterinaria?</label>
                                            <select class="form-control form-control" name="select_mascota" id="select_mascota" required onchange="disableFields()">
                                              <option value="" selected disabled>No</option>
                                              <% Object.values(mascotas).forEach(function(mascota) { %>
                                                <option value="<%= mascota.id %>"><%= mascota.nombre %></option>
                                              <% }); %>
                                            </select>
                                          </div>

                                          <div class="mb-3">
                                            <div class="alert alert-info" role="alert" id="warning_datos_precargan" style="display: none;">
                                              <i class="bi bi-exclamation-triangle-fill"></i> Los datos de la mascota serán utilizados para el formulario
                                            </div>
                                          </div>
                                          
                                          
                                          <div class="mb-3">
                                            <label for="nombre_mascota" class="b" id="nombre_mascota_label">Nombre de la mascota? (*)</label>
                                            <input class="form-control form-control-user" id="nombre_mascota" name="nombre_mascota" type="text" maxlength="256" required>
                                          </div>
                                          <div class="mb-3">
                                            <label for="edad" class="b" id="edad_label">Edad (*)</label>
                                            <input class="form-control form-control-user" type="text" name="edad" id="edad" required>
                                          </div>
                                        <div class="mb-3">
                                            <label for="mail" class="b"> Mail de contacto (*) </label>
                                            <input class="form-control form-control-user" type="text" name="mail" value="<%= session.usuario.mail %>" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="caracteristicas" class="b">Características</label>
                                            <textarea class="form-control form-control-user" name="caracteristicas" maxlength="1000" required></textarea>
                                          </div>
                                          
                                    </div>
                                </div>
                                <div class="col-md-6"> <!-- Segunda columna del formulario -->
                                    <div class="mb-3">
                                        <label for="fecha_perdida" class="b"> Día en que se perdió (*) </label>
                                        <% let fechaMinima = new Date();
                                        fechaMinima.setDate(fechaMinima.getDate() + 1);
                                        fechaMinima = fechaMinima.toISOString().split("T")[0];
                                        let fechaMaxima = new Date();
                                        fechaMaxima.setFullYear(fechaMaxima.getFullYear() + 5);
                                        fechaMaxima = fechaMaxima.toISOString().split("T")[0]; %>
                                        <input class="form-control form-control-user" type="date"
                                            name="fecha_perdida" min="<%= fechaMinima %>" max="<%= fechaMaxima %>" required>
                                    </div>
                                    <div class="mb-3">
                                    <label for="telefono"> Teléfono (*) </label>
                                    <input class="form-control form-control-user" name="telefono" value="<%= session.usuario.tel %>" type="text" pattern="[0-9]{10}" maxlength="10" value="" required
                                        title="Ingrese un número de teléfono válido">
                                </div>
                                <div class="mb-3">
                                    <label for="comportamiento" class="b"> Comportamiento </label>
                                    <textarea class="form-control form-control-user" name="comportamiento" maxlength="500"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="zona">Zona en que se perdio (*)</label>
                                    <select class="form-control form-control" name="zona" id="zona" required onchange="enableButton()">
                                      <option value="" selected disabled>Selecciona una zona</option>
                                      <% Object.values(global.ZONAS).forEach(function(zona) { %>
                                        <option value="<%= zona %>"><%= zona %></option>
                                      <% }); %>
                                    </select>
                                  </div>
                                <div class="mb-3"><label for="input-file" class="form-label" id="input-file_label">Agregar fotografia</label><input type="file" class="form-control" id="input-file" name="imagen"></div>
                            </div>
                            <div>
                                <button class="btn btn-primary d-block btn-user w-100" type="submit"
                                    id="enviar_turno">Publicar</button>
                            </div>
                            </form>
                        </div>
                        <style>
                            @media only screen and (max-width: 1000px) {
                                img {
                                    display: none;
                                }

                                div {
                                    display: block;
                                }
                            }
                        </style>
                            <style>
                            #warning_datos_precargan {
                                margin-top: 10px !important;
                                margin-bottom: 1px !important;
                                padding-bottom: 1px !important;
                            }

                            .mb-3 {
                                margin-bottom: 1px !important; /* Ajusta el valor según tus necesidades */
                            }
                            </style>
                    </div>
                    <hr>
                    <div class="text-center mb-2" style="font-size: smaller;">Los campos con (*) son obligatorios</div>
                    <div class="text-center"><a class="small" href="/perdidas">Volver</a></div>

                </div>
            </div>
        </div>
    </div>
    <script>
    </script>


<script>
    function disableFields() {
      var select = document.getElementById("select_mascota");
      var selectedOption = select.options[select.selectedIndex];
      var nombreMascota = selectedOption.value;
      var nombreInput = document.getElementById("nombre_mascota");
      var edadInput = document.getElementById("edad");
      var fotoInput = document.getElementById("input-file")
      var nombreLabel = document.getElementById("nombre_mascota_label");
      var edadLabel =  document.getElementById("edad_label");
      var fotoLabel = document.getElementById("input-file_label");
      var warning_datos_precargan = document.getElementById("warning_datos_precargan");
      
      if (nombreMascota) {
        nombreInput.removeAttribute('required');
        edadInput.removeAttribute('required');
        fotoInput.removeAttribute('required');
        nombreInput.style.display = "none";
        edadInput.style.display = "none";
        fotoInput.style.display = "none";
        nombreLabel.style.display = "none";
        edadLabel.style.display = "none";
        fotoLabel.style.display = "none";
        warning_datos_precargan.style.display = "block";

      } else {
        nombreInput.setAttribute('required', '');
        edadInput.setAttribute('required', '');
        fotoInput.setAttribute('required', '');
        nombreInput.disabled = "block";
        edadInput.disabled = "block";
        fotoInput.disabled = "block";
        nombreLabel.style.display = "block";
        edadLabel.style.display = "block";
        fotoLabel.style.display = "block";
        warning_datos_precargan.style.display = "none";
      }
    }
  </script>



</body>
<%- include ('sweet-alert') %>
</html>
