<!DOCTYPE html>
<html lang="es">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('header', {tituloweb: '¡Oh my dog! | Perfil cliente'}); %>
</head>

<body id="body">

    <div class="container h-100" style="margin-top: 20px;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-8">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-4">
              <div class="row justify-content-center">
                
                <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-3"><i class="bi bi-star"></i> Ver mascota</p>
                <div class="alert alert-info" role="alert">La mascota pertenece a: <strong><%= usuario.name %></strong></div>
                <div class="col-md-7">
                  <div>Nombre: <%= mascota.nombre %></div>
                  <div>Dueño: <%= usuario.name %></div>
                  <div>Sexo: <%= mascota.sexo %></div>
                  <div>Raza: <%= mascota.raza %></div>
                  <div>Color: <%= mascota.color %></div>
                  <div>Fecha de nacimiento: 1/1/23 </div>
                  <div>Observaciones: <%= mascota.observaciones %></div>
                  <br>
                  <div>Libreta sanitaria:</div>
                  <div>
                                <table class="table" id="tabla1">
                                <thead>
                                  <tr>
                                    <th scope="col">Practica</th>
                                    <th scope="col">Fecha</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% mascotas.forEach(mascota => { %>
                                  <tr class="paginate">
                                    <td><%= mascota.nombre %></td>
                                    <td><%= mascota.raza %></td>
                                    </tr>
                                    <% }); %>
                                  </tbody>
                                </table>
                  </div>

                </div>
                  <div class="col-md-4">
                    <div class="d-flex justify-content-center align-items-center" style="height: 150px; border: 1px solid #ddd; padding: 10px;">
                        <img src="/img/dogo_bañera.png" alt="Imagen de la mascota" style="width: 150px; height: 150px;">
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-5"><a class="small" href="/table">Volver</a></div>
    </div>
</div>
</div>
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        const tableRows = $('#tabla1 tbody tr').length;
        const pagingEnable = tableRows > 50;
        $('#tabla1').DataTable({
            paging: pagingEnable,
            ordering: false,
            info: false,
            lengthMenu: [
                [5, 15, 50, -1],
                [5, 15, 50, 'Todos'],
            ],
            pageLength: 50, // Establecer como la opción por defecto
            searching: false, // deshabilita la función de búsqueda
            language: {
                paginate: { previous: 'Anterior', next: 'Siguiente', },
                zeroRecords: 'La mascota no posee practicas registradas',
                info: 'Mostrando pagina _PAGE_ de _PAGES_',
                infoEmpty: 'La mascota no posee practicas registradas',
                lengthMenu: 'Mostrar _MENU_ entradas'
            },
        });

    });
</script>
