<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 100%; 
      }
    
      .dropdown.open .dropdown-content {
        display: block;
      }
    </style>
    <%- include ('header', {tituloweb: '¡Oh my dog! | Guarderias'}); %>
</head>
<body id="body">

  <div class="row" style="margin: 30px; display: flex; justify-content: center;">
    <h2 class="text-center">Guarderías</h2> 
    <strong><p style="font-size: 20px;"></p></strong>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <p id="selectedValue"></p>
              <form method="POST" action="/mostrarGuarderiasFiltradasPorZona" class="form-inline">
                <div class="form-group">
                  <select class="form-control form-control-sm mb-2" name="zona" id="zona" required onchange="enableButton()">
                    <option value="" selected disabled>Selecciona una zona</option>
                    <% Object.values(global.ZONAS).forEach(function(zona) { %>
                      <option value="<%= zona %>"><%= zona %></option>
                    <% }); %>
                  </select>
                </div>
                <button class="btn btn-primary ml-2" type="submit" id="submitButton" disabled> Filtrar por zona</button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <% if (guarderias.length > 0) { %>
      <% guarderias.forEach((trabajador) => { %>

        <% if ((typeof session.usuario !== 'undefined' && session.usuario.rol === 'admin') || (!session.usuario || (session.usuario && session.usuario.rol !== 'admin' && trabajador.estado))) { %>
            
          <div class="card" style="width: 300px; height: 370px; margin: 10px;">
              <div class="card-body">
                
                  <% if (typeof session.usuario !== 'undefined' && (session.loggedin === true) &&(session.usuario.rol === 'admin')) { %>
                <a id="trab<%= trabajador.id %>" class="btn btn-primary" 
                  data-bs-toggle="modal" data-bs-target="#confirmacionModal_<%= trabajador.id %>">
                  <span id="texto-trab <%= trabajador.id %>"> <%= trabajador.estado ? 'Disponible' : 'No Disponible' %></span>
                </a>
                <% } %>
                <!-- Modal de confirmación -->
                <div class="modal fade" id="confirmacionModal_<%= trabajador.id %>" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmacionModalLabel">Confirmar Cambio de Estado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>¿Estás seguro de que deseas cambiar el estado?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="cambiarEstado('trab <%= trabajador.id %>','<%= trabajador.id %>', '<%= trabajador.estado ? true : false %>')">Confirmar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <h5 class="card-title">
                  <%= trabajador.nombre %> <span class="emoji">&#x1F3E1;</span> 
                </h5>
                <br>
                <% let serviciosConcatenados = trabajador.servicio.split(',').map(servicio => servicio.trim()).join(', '); %>
                
                <p class="card-text"><strong>Servicio:</strong> <%= trabajador.servicio %></p>
                <p class="card-text"><strong>Zona:</strong> <%= trabajador.zona %></p>
                <p class="card-text"><strong>Dias Disponibles:</strong> <%= trabajador.dias %></p>
                <p class="card-text"><strong>Horarios:</strong> <%= trabajador.horario %></p>

              </div>
              <a href="<%=`/contactar/trabajador/${trabajador.id}`%>" class="btn btn-primary">Contactar</a>
              <br>
            </div>
          
        <% } %>
      <% }) %>
    <% } else { %>
      <p style="text-align: center;">No hay publicaciones de paseadores disponibles.</p>
    <% } %>
    

    
    <script>
function enableButton() {
  var select = document.getElementById('zona');
  var button = document.getElementById('submitButton');
  var selectedValue = select.options[select.selectedIndex].text;
  var selectedValueElement = document.getElementById('selectedValue');

  if (select.value !== '') {
    button.disabled = false;
  } else {
    button.disabled = true;
  }

  selectedValueElement.textContent = "Seleccionaste: " + selectedValue;

  // Configurar el tiempo de expiración de la cookie en 30 segundos
  var expirationDate = new Date();
  expirationDate.setTime(expirationDate.getTime() + (3 * 1000)); // 3 segundos

  // Guardar el valor seleccionado en una cookie con tiempo de expiración
  document.cookie = "selectedValue=" + selectedValue + "; expires=" + expirationDate.toUTCString() + "; path=/";
}

window.addEventListener('DOMContentLoaded', function() {
  var selectedValue = getCookie("selectedValue");
  var selectedValueElement = document.getElementById('selectedValue');
  if (selectedValue) {
    selectedValueElement.textContent = "Seleccionaste: " + selectedValue;
  }
});

// Función para obtener el valor de una cookie por nombre
function getCookie(name) {
  var cookies = document.cookie.split("; ");
  for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i].split("=");
    if (cookie[0] === name) {
      return cookie[1];
    }
  }
  return "";
}
   </script>
    


    <div class="text-center mt-2">
      <a class="small" href="/trabajadores" style="color: white;">Volver</a>
    </div>
    

 <script>
  async function cambiarEstado(elementId, trabajadorId, estadoDisp) {
    const url = '/trabajador/estado';
    const nuevoEstado = !JSON.parse(estadoDisp); // Cambia el estado actual al nuevo estado
    try {
      // Envía la solicitud AJAX al servidor para actualizar el estado en la base de datos
      const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify({ id: trabajadorId, estado: nuevoEstado }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      if (response.ok) {
        const textoBoton = document.getElementById(`texto-${elementId}`);
        textoBoton.innerHTML = nuevoEstado ? 'Disponible' : 'No disponible';
        $('#confirmacionModal_' + trabajadorId).modal('hide'); // Ocultar el modal manualmente usando jQuery
      }
    } catch (error) {
      console.error('Error al realizar la solicitud:', error);
    }
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dropdown = document.querySelector('.dropdown');
    var dropdownContent = dropdown.querySelector('.dropdown-content');
    var button = dropdown.querySelector('button');

    button.addEventListener('click', function() {
      dropdown.classList.toggle('open');
    });

    document.addEventListener('click', function(event) {
      if (!dropdown.contains(event.target)) {
        dropdown.classList.remove('open');
      }
    });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 

</body>

</html>
