<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        top: 100%; 
      }
    
      .dropdown.open .dropdown-content {
        display: block;
      }
    </style>
    <%- include ('header', {tituloweb: '¡Oh my dog! | Guarderias'}); %>
</head>
<body id="body">

  <div class="row" style="margin: 30px; display: flex; justify-content: center;">
    <h2 class="text-center">Guarderías</h2> 
    <strong><p style="font-size: 20px;"></p></strong>

    <div class="dropdown" style="display: flex; justify-content: center;">
      <button class="btn btn-primary" type="button">
        <span class="emoji">&#x1F50E;</span>  Buscar por zona
      </button>
      <div class="dropdown-content">
        <form id="searchForm" action="/ruta-de-destino" method="GET">
          <select class="form-control form-control-user" name="zona" id="zona" required>
            <option value="" disabled selected>Selecciona una zona</option>
            <option value="Plaza Moreno">Plaza Moreno</option>
            <option value="Plaza San Martín">Plaza San Martín</option>
            <option value="Plaza Belgrano">Plaza Belgrano</option>
            <option value="Plaza Azcuénaga">Plaza Azcuénaga</option>
            <option value="Plaza Islas Malvinas">Plaza Islas Malvinas</option>
            <option value="Plaza Italia">Plaza Italia</option>
            <option value="Plaza Rocha">Plaza Rocha</option>
            <option value="Plaza Paso">Plaza Paso</option>
            <option value="Plaza Sarmiento">Plaza Sarmiento</option>
            <option value="Plaza Almirante Brown">Plaza Almirante Brown</option>
            <option value="Plaza España">Plaza España</option>
            <option value="Plaza Güemes">Plaza Güemes</option>
            <option value="Plaza Mateu">Plaza Mateu</option>
            <option value="Plaza Grigera">Plaza Grigera</option>
            <option value="Plaza Malvinas Argentinas">Plaza Malvinas Argentinas</option>
            <option value="Plaza Güemes Este">Plaza Güemes Este</option>
          </select>
          <button type="submit" class="btn btn-primary" style="margin: 10px auto; display: block;">Buscar</button>
        </form>
      </div>
    </div>
      
    <% if (guarderias.length > 0) { %>
      <% guarderias.forEach((trabajador) => { %>

        <% if ((typeof session.usuario !== 'undefined' && session.usuario.rol === 'admin') || (!session.usuario || (session.usuario && session.usuario.rol !== 'admin' && trabajador.estado))) { %>
            
          <div class="card" style="width: 300px; height: 370px; margin: 10px;">
              <div class="card-body">
                
                  <% if (typeof session.usuario !== 'undefined' && (session.loggedin === true) &&(session.usuario.rol === 'admin')) { %>
                <a id="trab<%= trabajador.id %>" class="btn btn-primary" 
                  data-bs-toggle="modal" data-bs-target="#confirmacionModal_<%= trabajador.id %>">
                  <span id="texto-trab <%= trabajador.id %>"> <%= trabajador.estado ? 'Disponible' : 'No Disponible' %></span>
                </a>
                <% } %>
                <!-- Modal de confirmación -->
                <div class="modal fade" id="confirmacionModal_<%= trabajador.id %>" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmacionModalLabel">Confirmar Cambio de Estado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>¿Estás seguro de que deseas cambiar el estado?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="cambiarEstado('trab <%= trabajador.id %>','<%= trabajador.id %>', '<%= trabajador.estado ? true : false %>')">Confirmar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <h5 class="card-title">
                  <%= trabajador.nombre %> <span class="emoji">&#x1F3E1;</span> 
                </h5>
                <br>
                <% let serviciosConcatenados = trabajador.servicio.split(',').map(servicio => servicio.trim()).join(', '); %>
                
                <p class="card-text"><strong>Servicio:</strong> <%= trabajador.servicio %></p>
                <p class="card-text"><strong>Zona:</strong> <%= trabajador.zona %></p>
                <p class="card-text"><strong>Dias Disponibles:</strong> <%= trabajador.dias %></p>
                <p class="card-text"><strong>Horarios:</strong> <%= trabajador.horario %></p>

              </div>
              <a href="<%=`/contactar/trabajador/${trabajador.id}`%>" class="btn btn-primary">Contactar</a>
              <br>
            </div>
          
        <% } %>
      <% }) %>
    <% } else { %>
      <p style="text-align: center;">No hay publicaciones de paseadores disponibles.</p>
    <% } %>
  </div>
 <div class="text-center">
    <a class="small" href="/trabajadores" style="color: white;">Volver</a>
  </div>

 <script>
  async function cambiarEstado(elementId, trabajadorId, estadoDisp) {
    const url = '/trabajador/estado';
    const nuevoEstado = !JSON.parse(estadoDisp); // Cambia el estado actual al nuevo estado
    try {
      // Envía la solicitud AJAX al servidor para actualizar el estado en la base de datos
      const response = await fetch(url, {
        method: 'POST',
        body: JSON.stringify({ id: trabajadorId, estado: nuevoEstado }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      if (response.ok) {
        const textoBoton = document.getElementById(`texto-${elementId}`);
        textoBoton.innerHTML = nuevoEstado ? 'Disponible' : 'No disponible';
        $('#confirmacionModal_' + trabajadorId).modal('hide'); // Ocultar el modal manualmente usando jQuery
      }
    } catch (error) {
      console.error('Error al realizar la solicitud:', error);
    }
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dropdown = document.querySelector('.dropdown');
    var dropdownContent = dropdown.querySelector('.dropdown-content');
    var button = dropdown.querySelector('button');

    button.addEventListener('click', function() {
      dropdown.classList.toggle('open');
    });

    document.addEventListener('click', function(event) {
      if (!dropdown.contains(event.target)) {
        dropdown.classList.remove('open');
      }
    });
  });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 

</body>

</html>
