<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Paseadores</title>
    <%- include ('header') %>
</head>
<body>
    <strong><p style="font-size: 20px;">Paseadores</p></strong>
    <div id="contenedortabla">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">disponibilidad</th>
                    <th scope="col">contacto</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(usuario => { %>
              <tr>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.apellido %></td>
                    <td><%= usuario.disponibilidad %></td>
                    <td><button type="button" class="btn btn-primary"  onclick="window.location.href='/hola'">Contactar</button></td>
              </tr>
                <% }); %>
            </tbody>
          </table>
          </div>





<!-- ANTIGUO PANEL     -->
<!--     <div class="container">
        <div class="row">
            <% data.forEach(paseador => { %>
            <div class="col-lg-2 col-md-3 col-xs-6 ">
                <div class="box"><td>
                    <%= paseador.nombre %>
                    <%= paseador.apellido %>
                    Disponibilidad: <%= paseador.disponibilidad %>
                    <button type="button" class="btn btn-primary"  onclick="window.location.href='/hola'">Contactar</button>
                    </form>
                </td></div>
            </div>
            <% }); %>
        </div> -->
</body>
</html>