<!DOCTYPE html>
<html lang="en">
<head>  
<link rel="stylesheet" href="resources/css/style.css">
</head>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Registro
                </div>
                <form action="/register" method="POST">
                    <input type="text" name="user" placeholder="Usuario" required>

                    <input type="text" name="name" placeholder="nombre completo" required>

                    <input type="text" name="rol" placeholder="rol" required>
                    
                    <input type="password" placeholder="Contraseña" name="pass" required>
                    
                    <button type="submit" title="Ingresar" name="Ingresar">Crear cuenta</button>
                </form>
            </div>
            <div class="inferior">
                <a href="/">Volver</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            timer: <%= timer %>,
            showConfirmButton: <%= showConfirmButton %>,
            }).then(()=>{
                window.location='/ <%= ruta %>'
            })
        </script>
        <% } %>
    }
</body>
</html>