<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
</head>
<body>
  <%- include ('header') %>

  <form action="/table" method="POST">
    <div class="input-group">
      <input type="text" name="searchTerm" class="form-control" placeholder="Buscar...">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </div>
  </form>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">mail</th>
          <th scope="col">name</th>
          <th scope="col">pass</th>
          <th scope="col">rol</th>
        </tr>
      </thead>
      <tbody>
          <% data.forEach(usuario => { %>
        <tr>
              <td><%= usuario.mail %></td>
              <td><%= usuario.name %></td>
              <td><%= usuario.pass %></td>
              <td><%= usuario.rol %></td>
        </tr>
          <% }); %>
      </tbody>
    </table>
  <a href="/">Volver</a>
</body>
</html>
