<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<%- include ('header', {tituloweb: '¡Oh my dog! | Turnos del dia' }); %>
    </head>
    <!-- BODY -->

    <body id="body">
        <br>
        <div class="container-sm" style="max-width: 1200px;">
            <div class="card text-black" style="border-radius: 10px;">
                <div class="table-responsive">
                    <table class="table" id="tabla1">
                        <thead class="table-secondary">
                            <tr>
                                <th class="text-center" scope="col">Fecha</th>
                                <th class="text-center" scope="col">Banda Horaria</th>
                                <th class="text-center" scope="col">Cliente</th>
                                <th class="text-center" scope="col">Practica</th>
                                <th class="text-center" scope="col">Mascota</th>
                                <th class="text-center" scope="col">Estado</th>
                                <th class="text-center" scope="col">Registrar visita</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (!data.length==0) { %>
                                <% data.forEach(turno=> {
                                    const fechaCorta = turno.fecha.split(" ")[0];
                                    const horario = turno.fecha.split(" ")[1];
                                    const estado = turno.estado.toLowerCase();
                                    const cellClass = estado === "aceptado" ? "alert-success" : estado === "rechazado" ?
                                    "alert-danger" : "alert-info";
                                    %>
                                    <tr class="paginate">
                                        <td class="text-center align-middle">
                                            <%= fechaCorta %>
                                        </td>
                                        <td class="text-center align-middle">
                                            <%= turno.banda_horaria %>
                                        </td>

                                        <td class="text-center align-middle">
                                            <%= turno.user %>
                                        </td>

                                        <td class="text-center align-middle">
                                            <%= turno.practica %>
                                        </td>
                                        <td class="text-center align-middle">
                                            <%= turno.nombre %>
                                        </td>
                                        <td class="text-center align-middle">
                                            <div class="alert <%= cellClass %> m-0">
                                                <%= turno.estado %>
                                            </div>
                                        </td>

                                        <td class="text-center align-middle">
                                        <button type="button" onclick="location.href='<%= `/registrarVisita/cliente/${turno.UserId}?mascota=${turno.MascotumId}&practica=${turno.practica}` %>'" class="btn btn-outline-success">
                                        <i class="bi bi-house-add"></i> Registrar visita</button>
                                        </td>
                                        
                                    </tr>
                                    <% }); %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="/">Volver</a>
                </div>
            </div>
        </div>
        <style>
            .dataTables_empty {
                text-align: center;
                color: #9e1f1f;
                font-style: italic;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script>
            $(document).ready(function () {
                const tableRows = $('#tabla1 tbody tr').length;
                const pagingEnable = tableRows > 50;
                $('#tabla1').DataTable({
                    paging: pagingEnable,
                    ordering: false,
                    info: false,
                    lengthMenu: [
                        [5, 15, 50, -1],
                        [5, 15, 50, 'Todos'],
                    ],
                    pageLength: 50, // Establecer como la opción por defecto
                    searching: false, // deshabilita la función de búsqueda
                    language: {
                        paginate: { previous: 'Anterior', next: 'Siguiente', },
                        zeroRecords: 'No tiene turnos solicitados',
                        info: 'Mostrando pagina _PAGE_ de _PAGES_',
                        infoEmpty: 'No tiene turnos solicitados',
                        lengthMenu: 'Mostrar _MENU_ entradas'
                    },
                });

            });
        </script>
    </body>

    </html>